:root
{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;
}

body {
    background-color: var(--bg-black-100);
    font-family: 'Inter', sans-serif;
    margin: 0;
    font-size: 16px;
}


.main-container {
    padding: 2rem 1rem;
}